@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  border: none;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
}

.videos::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  height: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.text-blue {
  color: #04144a;
}

.m-right {
  margin-right: 5px;
}

.cursor-pointer,
i {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.text-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}

.line-clamp-50 {
  -webkit-line-clamp: 50;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.box-icon {
  /* color: rgb(100, 100, 100); */
  padding: 0 7px;
  cursor: pointer;
  font-size: 22px;
}

.box-icon:hover {
  visibility: visible;
  opacity: 1;
}

.mic {
  margin-top: 10px;
}

/* ============= */
main {
  height: calc(100vh - 60px);
  display: flex;
  max-width: 100%;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background-color: #e9e9eb;
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .video-box {
    display: flex;
    flex-direction: column;
  }

  .video-author,
  .video-action {
    width: 100%;
    margin: 10px 0;
  }

  .video-details {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .content {
    max-width: 100%;
    padding: 20px 10px;
    margin-bottom: 50px;
  }
  .video-box {
    display: flex;
    flex-direction: column;
  }

  .video-details {
    grid-template-columns: 1fr;
  }
}
