.channel-container {
  .channel-info {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    align-items: center;
    padding: 20px;
    &-user {
      display: flex;
      align-items: center;
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      span {
        margin-left: 10px;
        display: block;
      }
    }

    button {
      padding: 10px 20px;
      background: #c00;
      color: #fff;
      border-radius: 10px;
    }
  }

  .channel-navbar {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    ul {
      display: inline-flex;

      li {
        display: block;
        list-style: none;
        padding: 10px 20px;
        cursor: pointer;

        &.active {
          border-bottom: 2px solid #c00;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .channel-info {
    flex-direction: column;
    align-items: flex-start;
    &-user {
      display: flex;
      flex-direction: column;
      text-align: center;
      span {
        margin: 10px 0;
        &:nth-child(1) {
          font-weight: bold;
          font-size: 17px;
        }
      }
    }
  }
}
