.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;

  &-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: showModal ease-in 0.5s;
    margin: auto;
    text-align: center;
    padding: 15px;

    img {
      display: block;
      width: 100px;
      height: 100px;
      margin: 10px auto;
    }

    button {
      padding: 10px;
      background-color: #ff3333;
      border-radius: 10px;
      font-size: 14px;
      color: #fff;
      margin: 10px 0;
    }
  }

  .content {
    padding: 10px 0px;
    label {
      display: block;
      margin: 10px 0;
    }

    input,
    textarea,
    button {
      width: 100%;
      padding: 10px;
      outline: none;
      border-radius: 10px;
      border: 1px solid #ccc;
    }

    button {
      margin: 10px 0;
      background-color: #ff3333;
      color: #fff;
      font-size: 15px;
    }
  }
}

@media (max-width: 768px) {
  .modal-box {
    width: 350px;
  }
}
