.video-details {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;

  .video-player {
    width: 100%;
    video {
      width: 100%;
      // height: 100%;
    }
  }

  .video-info {
    padding: 10px 0;
    h1 {
      font-size: 20px;
      margin: 5px 0;
      line-height: 30px;
    }

    .video-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;

      .video-author {
        display: flex;

        .video-img {
          width: 40px;
          height: 40px;
          margin-right: 12px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .info-user {
          margin-right: 24px;
          h2 {
            font-size: 16px;
          }
          p {
            font-size: 12px;
          }
        }

        button {
          padding: 8px 25px;
          font-size: 15px;
          border-radius: 100px;
          background-color: #000;
          color: #fff;
        }
      }

      .video-action {
        display: flex;

        button {
          display: flex;
          align-items: center;
          padding: 10px 17px;
          background: transparent;
          color: #fff;
          text-align: center;
          border: none;

          span {
            margin-left: 4px;
            font-size: 16px;
            font-weight: 500;
            color: #000;
          }
        }
        .video-like {
          display: flex;
          justify-content: center;
          background-color: #f2f2f2;
          border-radius: 100px;
        }

        i {
          font-size: 23px;
          color: #000;
        }
      }
    }

    .video-des {
      background: #f2f2f2;
      padding: 12px;
      margin-top: 8px;
      border-radius: 10px;
      p {
        font-size: 14px;
      }
    }
  }

  .comment {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 50px;

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 10px;
    }

    input {
      width: 100%;
      border: none;
      background: transparent;
      padding: 5px;
    }

    button {
      padding: 0 10px;
      background: transparent;
    }

    p {
      font-size: 14px;
    }
  }

  .comment-list {
    margin-top: 20px;

    h3 {
      margin-bottom: 15px;
    }

    .comment-user {
      display: flex;
      margin-bottom: 20px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      p:nth-child(1) {
        font-size: 14px;
        padding-right: 5px;
      }

      p:nth-child(2) {
        font-size: 12px;
      }

      .text-content {
        font-size: 14px;
        margin-top: 8px;
      }
    }
  }
}

.video-recomment-item {
  display: grid;
  grid-template-columns: 200px 200px;
  margin-bottom: 20px;

  .video-avatar {
    img {
      width: 100%;
      height: 110px;
      border-radius: 10px;
    }
  }

  .video-content {
    padding: 0px 10px;

    h1 {
      color: rgb(3, 3, 3);
      line-height: 20px;
      font-size: 13px;
      margin-bottom: 6px;
    }

    span {
      display: block;
      text-decoration: none;
      color: rgb(96, 96, 96);
      font-size: 12px;
      line-height: 18px;
    }
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  .video-recomment-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .videos {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .video-details {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .videos {
    grid-template-columns: 1fr;
  }

  .video-details {
    grid-template-columns: 1fr;
  }
  .video-recomment-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .videos {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .video-recomment-item {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
  }
}
