.upload-video {
  form {
    .file-video {
      display: flex;
      justify-content: space-between;

      .file-info {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        justify-content: center;
        align-items: center;
        border: 1px dashed #000;
        width: 100%;

        i {
          font-size: 35px;
        }

        span {
          font-size: 14px;
          line-height: 25px;
          color: #000;
          margin-bottom: 10px;

          &:nth-child(2) {
            font-size: 17px;
            font-weight: 600;
          }
        }
      }

      video {
        width: 100%;
        height: 250px;
      }
    }

    .content {
      padding: 15px 0px;
      label {
        display: block;
        margin: 15px 0;
      }

      input,
      textarea,
      button {
        width: 100%;
        padding: 10px;
        outline: none;
        border-radius: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
      }

      button {
        margin: 10px 0;
        background-color: #ff3333;
        color: #fff;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
  .upload-video {
    .file-video {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
