/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
[data-theme="dark"] {
  background-color: #222;
  color: #eee;
}

[data-theme="dark"] a {
  color: #eee;
}

[data-theme="dark"] p,
button {
  color: #eee;
}

[data-theme="dark"] .video-des {
  background-color: #1e2121;
}

[data-theme="dark"] .modal-box {
  color: #000;
}

[data-theme="dark"] .box p {
  color: #000;
}

[data-theme="dark"] .active {
  background-color: #ff3333;
}

[data-theme="dark"] .details .title h3 {
  color: #eee;
}

[data-theme="dark"] .channel-container .channel-info,
.channel-navbar {
  background-color: #1e2121;
}

[data-theme="dark"] .channel-container .channel-navbar {
  background-color: #1e2121;
}

[data-theme="dark"] .video-recomment-item .video-content h1 {
  color: #eee;
}
[data-theme="dark"] .video-recomment-item .video-content span {
  color: #bbb;
}

[data-theme="dark"]
  .video-details
  .video-info
  .video-box
  .video-action
  .video-like {
  background-color: #111;
}

[data-theme="dark"] .video-details .video-info .video-box .video-action i {
  color: #eee;
}

[data-theme="dark"] .videos .video .details .title span {
  color: #bbb;
}

[data-theme="dark"]
  .video-details
  .video-info
  .video-box
  .video-action
  button
  span {
  color: #eee;
}

[data-theme="dark"] .content input,
textarea .upload-video form .content textarea,
.upload-video form .content button {
  background-color: #1e2121;
  color: #eee;
  border: none;
}

[data-theme="dark"] .upload-video form .content textarea {
  background-color: #1e2121;
  color: #eee;
}
[data-theme="dark"] .upload-video form .content input {
  background-color: #1e2121;
}

[data-theme="dark"] .channel-sub-user span {
  color: #eee;
}

[data-theme="dark"] .user-login li a {
  color: #000;
}

[data-theme="dark"] .upload-video form .file-video .file-info span {
  color: #eee;
}

[data-theme="dark"] .upload-video form .file-video .file-info {
  border: 1px dashed #eee;
}

[data-theme="dark"] .video-details .video-info .video-des {
  background: #111;
}

[data-theme="dark"] .video-details .comment {
  background: #111;
}

[data-theme="dark"] .videos .video .details .title a,
.videos .video .details .title span {
  color: rgb(158 146 146);
}

[data-theme="dark"] .video-details .video-info .video-box .video-author button {
  background-color: #111;
}
@media (max-width: 900px) {
  [data-theme="dark"] .side-bar {
    background-color: #222;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  border: none;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
}

.videos::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  height: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.text-blue {
  color: #04144a;
}

.m-right {
  margin-right: 5px;
}

.cursor-pointer,
i {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.text-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  font-weight: 500;
}

.line-clamp-50 {
  -webkit-line-clamp: 50;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.box-icon {
  padding: 0 7px;
  cursor: pointer;
  font-size: 22px;
}

.box-icon:hover {
  visibility: visible;
  opacity: 1;
}

.mic {
  margin-top: 10px;
}

/* ============= */
main {
  height: calc(100vh - 60px);
  display: flex;
  max-width: 100%;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  /* padding-left: 25px; */
  overflow-y: scroll;
}

.video {
  padding: 0px 20px;
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .video-box {
    display: flex;
    flex-direction: column;
  }

  .video-author,
  .video-action {
    width: 100%;
    margin: 10px 0;
  }

  .video-details {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .content {
    max-width: 100%;
    padding: 20px 10px;
    margin-bottom: 50px;
  }
  .video-box {
    display: flex;
    flex-direction: column;
  }

  .video-details {
    grid-template-columns: 1fr;
  }
}
